@import b3.vertical.fieldConstructor

@(currentUser: User, microPost: MicroPost, favorites: PagedItems[MicroPost])(implicit messagesProvider: MessagesProvider, flash: Flash, request: RequestHeader)


@if(!favorites.items.exists(_.id.get == microPost.id.get)) {
  @b3.formCSRF(routes.FavoriteController.favorite(microPost.id.get)) {
    @b3.submit('class -> "btn btn-primary btn-xs") {
      @Messages("Favorite")
    }
  }
} else {
  @b3.formCSRF(routes.FavoriteController.unFavorite(microPost.id.get)) {
    @b3.submit('class -> "btn btn-primary btn-xs") {
      @Messages("UnFavorite")
    }
  }
}
